# Git
*.git

# Docker
.docker
.dockerignore

# Streamlit
.streamlit/

# Environnement Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv/
*.env
*.venv

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
*.ipynb_checkpoints/

# IPython
profile_default/
ipython_config.py

# Configuration système ou utilisateur
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# Other IDE/editor specific
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Autres fichiers générés ou exportés
*.csv
*.tsv
*.xlsx
output/
